@keyframes celebrate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.countdown {
  margin-top: 45px;
}

.celebrate {
  animation: celebrate 1s infinite;
}

.celebrate.firework-crackles {
  width: 30%;
  height: auto;
}
